.hero-container {
  background: url("../images/background1.jpg") center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
.hero--btn {
  max-width: 200px;
  max-height: 100px;
  transition: transform 1s cubic-bezier(0.75, 0.04, 0.66, 1.71) forward;
}
.hero-container:hover .hero--btn {
  animation: btn--down 0.3s ease-in 1 forwards;
}
@keyframes btn--down {
  100% {
    transform: translateY(100%);
  }
}
.hero--btn--div {
  align-content: center;
}

/*
.hero-container > h1{
    color: #fff;
    font-size: 180px;
    margin-top: -180px;
}
.hero-container > p{
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hero-btns{
    margin-top: 32px;
}
@media screen and (max-width:960px){
    .hero-container > h1{
        font-size: 70px;
        margin-top: -150px;
    }
}
@media screen and (max-width:768px){
    .hero-container > h1{
        font-size: 50px;
        margin-top: -180px;
    }
    .hero-container > p{
        font-size: 30px;
    }

}*/
