.tiktok-home {
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 25px;
}
.tiktok-video-container {
  height: 570px;
  width: 325px;
}
.podcast--home {
  margin-top: 2%;
}
.subscribe--page {
  padding-bottom: 5%;
  background-image: linear-gradient(#e7f2f4, #0b0b0b);
}
.tiktok--container {
  height: 100px;
  width: 100px;
}
.cover-art {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs--container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar--container {
  display: flex;
  align-self: center;
  margin: "auto";
  max-width: 925px;
}
.navbar--section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.audio--player {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listen--btn {
  max-width: 60px;
}
#nav--search {
  display: flex;
  justify-content: center;
}

#podcast--search--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
#podcast--search--btn :hover {
  cursor: pointer;
}

p {
  font-size: 15px;
  font-family: "Helvetica Neue";
  margin: 5px 0;
}
.listennow-btn {
  margin: 5px;
  max-width: 80px;
  height: 20px;
  background-color: #dd1010;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  p{
    font-family: "Helvetica Neue";
    font-size: 15px;
  }
}
.podcast--info--text {
  overflow-y: auto;
  height: 90px;
  p {
    color: white;
    font-size: 15px;
    font-family: "Helvetica Neue";
  }
}
.podcast {
  opacity: 0;
  animation: fadeInLeft 1s 2.5s;
  animation-fill-mode: forwards;
  width: 100%;
  margin: 20px 0;
}
@for $i from 1 through 5 {
  .podcast._#{$i} {
    animation-delay: #{$i/5}s;
  }
}
